@using ESAN.Componentes.CoreEvaluacion.Models.General.EvaluacionMSA
@{
    List<EvaluacionPromocion> listadoPromocion = new List<EvaluacionPromocion>();
    if (ViewBag.ListadoPromocion != null)
    {
        listadoPromocion = (List<EvaluacionPromocion>)ViewBag.ListadoPromocion;
    }
}
<script>
    $(".tbListaPromo").DataTable();
</script>
@*<style>
        tr.clicked {
          background-color: #abc;
    }

    </style>*@
<table class="tbListaPromo table table-bordered display">
    <thead>
        <tr>
            <th>C&oacute;digo</th>
            <th>Nombre de la Promoci&oacute;n</th>
            <th>Fecha Inicio - Fecha Fin</th>
            <th># Ciclos - # Mediciones</th>
            <th># Participantes</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (EvaluacionPromocion item in listadoPromocion)
        {
            <tr>
                <td>@item.EvaluacionPromocionCodigo</td>
                <td>@item.EvaluacionPromocionDescripcion</td>
                <td>@item.EvaluacionPromocionFecIni.Value.ToShortDateString() - @item.EvaluacionPromocionFecFin.Value.ToShortDateString()</td>
                <td>@item.EvaluacionPromocionCiclo.Count() - @item.EvaluacionPromocionMedicion.Count()</td>
                <td>@item.EvaluacionPromocionParticipante.Count() </td>
                <td>
                    @*<a href="btnVisualizarParticipantes" idPromo="@item.EvaluacionPromocionID" correo="@item.EvaluacionPromocionCorreo">
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
            </a>*@

                    <button class="btnVisualizarParticipantes btn btn-success" idPromo="@item.EvaluacionPromocionID" correo="@item.EvaluacionPromocionCorreo">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true">Ver</span>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $('.tbListaPromo tr').click(function () {
        $(this).toggleClass("clicked");
    });
</script>
